version: '3.9'
services:
  api:
    image: node:22-alpine
    working_dir: /workspace
    command: sh -c "echo 'Define API container in etapa 2/3'"
  web:
    image: node:22-alpine
    working_dir: /workspace
    command: sh -c "echo 'Define Web container in etapa 4/5'"
  engine:
    image: gcc:14
    working_dir: /workspace
    command: sh -c "echo 'Define engine container in etapa 3'"
